<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Only Gifs</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<header>
    <nav>
        <a href="/" class="nav-item"><h2 class="main-heading">Only Gifs</h2></a>
        <ul>
            <li>
                <a href="/" class="nav-item">Home</a>
            </li>
            <li>
                <a href="/trending" class="nav-item">Trending</a>
            </li>
            <li>
                <a href="/categories" class="nav-item">Categories</a>
            </li>
        </ul>
    </nav>
</header>
<body>