<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<header>
    <h1>404 Error</h1>
</header>
<div class="error">
    <h2>Sorry, page not found!</h2>
    <a href="/">Return to homepage</a>
</div>>
</body>
</html>