<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="content">
<header>
    <h1>404 Error</h1>
</header>
<div class="error">
    <h1>Sorry, page not found!</h1>
    <a href="/"><h2>Return to homepage</h2></a>
</div>
</div>
<footer>
    <small>Powered by Giphy @ {{ 'now' | date('Y') }}</small>
</footer>
</body>
</html>