{% include 'partials/header.html' %}
{% include 'partials/searchbar.html' %}

<div class="gif-container">
{% if gifs == null %}
    <h2>No gifs found!</h2>
{% else %}
    {% for gif in gifs %}
        <a href="{{ gif.giphylink }}" target="_blank">
            <img class="gif" src="{{ gif.url}}" alt="{{ gif.title}}">
        </a>
    {% endfor %}
{% endif %}
</div>

{% include 'partials/footer.html' %}