<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Only Gifs</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<header>
    <a href="/" class="header-link"><h1 class="main-heading">Only Gifs</h1></a>
</header>
<body>
<div class="content">
<div class="gifs">
    <form class="form" action="/" method="GET">
        <br>
        <label for="search"></label>
        <input type="text" class="search-bar" name="search" id="search" placeholder="Search for gifs" required >
        <input class='search-button' type="submit" value="Search"><br>
        <br>
    </form>
    <form class="form" action="/random" method="GET">
        <input class='button' type="submit" value="I'm feeling lucky"><br>
        <br>
    </form>
    <form class="form" action="/trending" method="GET">
        <input class='button' type="submit" value="Show trending"><br>
        <br>
    </form>
</div>
<div class="gif-container">
{% if gifs == null %}
    <h3>No gifs found!</h3>
{% else %}
    {% for gif in gifs %}
        <a href="{{ gif.giphylink }}" target="_blank">
            <img class="gif" src="{{ gif.url }}" alt="{{ gif.title }}">
        </a>
    {% endfor %}
{% endif %}
</div>
</div>
<footer>
    <small>Powered by Giphy @ {{ 'now' | date('Y') }}</small>
</footer>
</body>
</html>