header {
    text-align: center;
    background-color: black;
    color: ivory;
    padding: 5px;
}

.form {
    text-align: center;
    display: inline-block;
}

.gifs{
    width:100%;
    text-align: center;
}

.gif {
    height: 150px;
    margin: 10px;
    border: 3px solid black;
}

body {
    background-color: darkcyan;
    text-align: center;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    border-radius: 10px;
}

.button:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

.gifs input[type=text]{
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 10px
}