*{
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
}
header {
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: ivory;

}

.main-heading {
    color: lightgray;
    text-decoration: none;
    margin-left: 40px;
}

.header-link{
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background: black;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
    font-size: 20px;
    color: lightgray;
    font-weight: bolder;
    margin-right: 50px;
    margin-top: 5px;
}
.nav-item{
    text-decoration: none;
    color: white;
}

.nav-item:hover{
    text-decoration: underline;
}

body {
    background-color: #0E8388;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

.form{
    text-align: center;
    display: inline-block;
}

.gifs{
    width:100%;
    text-align: center;
}

.search-bar{
    width: 400px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 6px;
    border: none;

}
.search-button {
    background-color: white;
    border: none;
    color: black;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

.search-button:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

.gif-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gif {
    height: 300px;
    margin: 10px;
    border: 3px solid black;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

.button:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

.error{
    text-align: center;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    align-content: center;
    text-align: center;
    background: black;
    border-radius: 10px;
}

.category-heading{
    margin-left: 60px;
}
.category-name{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.category-name:hover{
    color: yellow;
}

.subcategory-name{
    font-size: 20px;
    color: lightgray;
}

.subcategory-name:hover{
    color: yellow;
}

footer{
    flex-shrink: 0;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: ivory;
    padding: 5px;
    margin-bottom: 5px;
}